/*div { !* for testing purpose*!*/
    /*border: 1px solid black;*/
/*}*/

.titleBar {
    /*grid-area: titleBar;*/
    text-align: center;
}

.sidebar {
    /*grid-area: sidebar;*/
}

.links > h2, .form > form{
    padding-left: 10px;
}

.articles {
    /*grid-area: articles;*/
}

/*.container {*/
    /*display: grid;*/
    /*grid-template-columns: 20% 80%;*/
    /*grid-template-rows: auto;*/
    /*grid-template-areas: "titleBar titleBar" "sidebar articles"*/
/*}*/

/*!*TaskFour*!*/
/*@media (max-width: 768px) {*/
    /*.links{*/
        /*grid-area: links;*/
    /*}*/
    /*.form{*/
        /*grid-area: form;*/
    /*}*/

    /*.container {*/
        /*display: grid;*/
        /*grid-template-columns: auto;*/
        /*grid-template-rows: auto;*/
        /*grid-template-areas: "titleBar" "sidebar" "articles";*/
    /*}*/
    /*.sidebar{*/
        /*display: grid;*/
        /*grid-template-columns: 50% 50%;*/
        /*grid-template-rows: auto;*/
        /*grid-template-areas: "links form";*/
    /*}*/
/*}*/
/*End of TaskFour*/

.thumbnail {
    float: left;
    margin: 5px 5px 5px 5px;
    width: 320px;
    height: 240px;
}

#container, #article1, #article2, #article3, #article4, #article5{
    padding-top:60px;
}
